.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 100vh;
  width: 100%;
  background-color: #f9f9f9;
  position: relative;
  overflow: hidden;
}

.logo-box {
  height: 2rem;
  position: absolute;
  z-index: 1;
  top: 1rem;
  left: 4rem;
}

.logo-img {
  height: 100%;
  width: 100%;
}

.Toastify__toast-container {
  z-index: 9;
}

.card {
  width: 22rem;
  height: 30rem;
  margin: 2rem 1rem;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 6px 6px 30px hsl(0deg 0% 62% / 11%);
  z-index: 2;
  padding: 1rem 2rem;
}

@media (max-width: 475px) {
  .card {
    height: 33rem;
    margin: 4rem 1.2rem;
    border-radius: 1rem;
    padding: 1rem 1rem;
  }
}

.card-details {
  height: 100%;
  width: 100%;
}

.card-heading {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-logo {
  height: 2.5rem;
}

.card-logo img {
  height: 100%;
  width: 100%;
}

.card-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #343434;
  margin-bottom: 0.5rem;
}

.card-sub-title {
  text-align: center;
  margin: 0;
  color: #545454;
  font-size: 0.8rem;
  line-height: 1rem;
}

.card-form-details {
  margin-top: 1rem;
  padding: 0.5rem;
  text-align: left;
}

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  font-size: 1rem;
  ;
  font-weight: 500;
  color: #343434;
  display: block;
  margin-bottom: 0.5rem;
}

.form-control {
  width: 100%;
  font-size: 0.8rem;
  font-weight: 400;
  border-radius: 0.5rem;
  height: 2rem;
  border: 1px solid #ced4da;
  box-shadow: 0 0 0 1px transparent;
  padding: 0.5rem;
  box-sizing: border-box;
}

.form-control:focus {
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 10px #719ECE;
}

.form-control option {
  overflow: hidden;
}

.company-size {
  height: 1.5rem;
  width: 3.8rem;
  background-color: #F0F0F0;
  border-radius: 2px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.gap {
  margin-top: 0.2rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.btn {
  margin-top: 1rem !important;
  display: inline-block;
  margin-top: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  padding: 5px 15px;
  transition: all .5s;
  cursor: pointer;
}

.btn-primary {
  background: #3766e8;
  border: 1px solid #3766e8;
  color: #fff;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn:hover {
  background: #194dde;
}



.bottom-content {
  position: absolute;
  z-index: 4;
  top: 94%;
  margin: 1rem;
  color: #545454;
  font-size: 14px;
  line-height: 18.4px
}

.box-rotate-fixed {
  position: absolute;
  height: 420px;
  left: 0;
  right: 0;
  top: 16%;
  bottom: 0;
  z-index: 0;
  transform: skewY(-30deg);
}

.box-rotate-fixed .box-strip {
  position: absolute;
  height: 400px;
  background-color: #f5f5f5;
}

.box-rotate-fixed .box-strip-middle {
  width: 100%;
}

.box-rotate-fixed .box-strip-top-right {
  right: 0;
  width: 100%;
  max-width: 44%;
  border-bottom: 8px solid #e0e8fc;
}

.box-rotate-fixed .box-strip-bottom-left {
  left: 0;
  width: 100%;
  max-width: 44%;
  border-top: 8px solid #e0e8fc;
}